<%- include("partials/header.ejs") %>
    <!-- Left side navigation bar -->
    <div class="left-nav">
        
    </div>

    <div class="row site-content">
        <div class = "col-md-8 col-sm=10 add-blog">
            <h1 >Add Your Blog</h1>
            <form  action="/" method = "POST">
                <div class = "Fields">
                <label for="title">Title:</label>
                <input type="text" name = "title"> 
                <label for="content">Content</label>
                <input type="text" name="content">
                <input type="submit" value = "Submit">
                </div>
                
            </form>
        </div>
        <div class="col-10 blogs-display">
            <h1>Blogs</h1>
            <% if(locals.head && locals.text){ %>

                <!-- Add sections for each blog item  -->
                <% for(let i = 0; i< head.length; i++){ %>
                    <div class = "blog-item"> 
                        <h2 class ="blog-header"> <%= head[i] %> </h2>
                        <p class = "blog-content">  <%= text[i] %>  </p>
                    </div>

                 <% } %>

            <% } else {  %>
                <h1></h1>
                <p></p>
            <% } %>
            
        </div>
    </div>
    
   


<%- include("partials/footer.ejs")%>