input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  header{
    flex-basis: 100%;
  }

  

  .add-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 5px;
    padding: 10px;
  }

  .blogs-display{
    margin-top: 15px;
    margin-left: 10px;
  }
  
  h1{
    font-size: 2em;
  }

  .blogs-display > h1{
    margin-bottom: 30px;
  }

  .blog-item{
    margin: 10px 0px;
  }

  .nav-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-selections{
    display: flex;
    justify-content: center;
  }

